:root{
  size: 16px;
}
body {
  width: 15rem;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
main{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* 作为浮窗定位的锚点 */
.searchbox {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: block;
}
#suggestions{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 12px rgb(246, 244, 244);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}
.item{
  font-size: medium;
  flex-direction: row;
  margin-bottom: 1rem;
}
.item svg{
  width: 1.5em;
  height: 1.5em;
  fill: white;
}
h3,
p {
  margin: 0;
}
.savewordbox button{
  display: flex;
  justify-self: flex-end;
  align-self:self-start ;
  margin-top: 5px;
}
main div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#import{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#importFile {
  width: 70%;
}