:root{
  size: 10px;
}
body {
  width: 15rem;
}
.searchbox {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: block;
}
#suggestions{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 12px rgb(246, 244, 244);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}
.item{
  font-size: medium;
}
h3,
p {
  margin: 0;
}